@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f3;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button2-next,
.swiper-button2-prev,
.swiper-button3-next,
.swiper-button3-prev {
  position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button2-next::after,
.swiper-button2-prev::after,
.swiper-button3-next::after,
.swiper-button3-prev::after {
  display: none;
}
